.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: #e4f1f9;
  /*временно*/
  outline: 2px solid coral;

  &--index-top {
    padding-top: 90px;
  }

  &--top {
    padding-top: 50px;
  }
}

.banner__slogan {

  &--index-bottom {
    margin-bottom: 85px;
  }

  &--bottom {
    margin-bottom: 70px;
  }
}

.banner__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 25px;
  text-align: center;
  background-color: $background-light;
}

.banner__title {
  width: 255px;
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
  color: $text-base;
  margin-bottom: 35px;
}

.banner__subtitle {
  width: 270px;
  @include reset;

  font-size: 1.4rem;
  line-height: 2;
  color: $text-front;
}
