.blog {
  width: 100%;
  background-color: $background-light;
}

.blog__list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include reset-list-style;
}

.blog__item {
  width: 100%;

  @include reset-list-style;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #fafafa;
  outline: 2px solid red;

  &:last-of-type {
    border-bottom: 2px solid #fafafa;
  }
}

.blog__box {
  width: 100%;
}

.blog__img {
  width: 280px;
  height: 280px;
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
  /*временно*/
  background-color: #cccccc;
}

.blog__wrap {
  width: 280px;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.3;
}

.blog__title {
  width: 190px;

  @include reset;
  font-weight: 700;
  color: $text-front;
  margin-bottom: 5px;
}

.blog__text {
  width: 140px;
  text-transform: none;
  color: $text-base;

  @include reset;
  margin-bottom: 12px;
}

.blog__like {
  width: 70px;
  padding-left: 20px;
}

.blog__like-button {
  border: none;
}

.blog__number {
  font-weight: 700;
  color: $text-front;
}

@media (min-width: $tablet-width) {
  .blog {
    width: $tablet-width;
    margin: 0 auto;
  }

  .blog__list {
    width: calc(100% - 60px * 2);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
  }

  .blog__item {
    width: 50%;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;

    /*временно*/
    &:first-of-type {
      width: 100%;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  .blog__img {
    width: 100%;
    /*временно*/
    height: 267px;
    margin: 0 auto;
    /*временно*/
    background-color: #cccccc;

    /*временный модификатор*/
    &--first {
      height: 400px;
    }
  }

  .blog__wrap {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 5px;
    padding-left: 20px;
  }

  .blog__box {
    width: 195px;
  }

  .blog__like {
    padding-top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .blog {
    width: $desktop-width;
    margin: 0 auto;
  }

  .blog__list {
    width: 100%;
  }

  .blog__item {
    width: calc(100% / 3);
    position: relative;
    box-sizing: border-box;
  }

  .blog__wrap {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background-color: rgba($primary-dark, 0.3);
  }
}
