.blog {
  width: 100%;
  background-color: $background-light;
  /*временно*/
  outline: 2px solid pink;
}

.blog__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include reset-list-style;

}

.blog__item {
  width: 100%;
  display: flex;
  justify-content: center;
  @include reset-list-style;

  font-size: 1.4rem;
  line-height: 1.3;
  border-bottom: 1px solid #fafafa;

  img {
    margin-bottom: 20px;
  }

}
.blog__inner {
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog__title {
  width: 180px;
  @include reset;

  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: $text-front;
  margin-bottom: 10px;
}

.blog__text {
  width: 140px;
  font-size: inherit;
  line-height: inherit;
  color: $text-base;
  @include reset;

}

.blog__like {
  width: 80px;
}

.blog__number {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: $text-front;
}
