.form-checkbox {
  width: 100%;
  position: relative;

  @include reset;
  border: none;
  margin-bottom: 8px;
}

.form-checkbox__title {
  width: 245px;
  display: block;

  @include reset;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
  color: $text-front;
  margin: 0 auto;
}

.form-checkbox__list {
  width: 280px;

  @include reset-list-style;
  margin: 0 auto;
  padding-top: 27px;
}

.form-checkbox__item {
  width: 100%;

  @include reset-list-style;
}

.form-checkbox__label {
  width: 100%;
  position: relative;
  display: block;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 700;
  text-align: left;
  text-transform: none;
  color: $text-front;
  padding-left: 80px;
  margin-bottom: 48px;
}

.form-checkbox__box {
  position: absolute;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  top: calc(50% - 56px / 2);
  left: 0;
  border-radius: 5px;
  background-color: $secondary-base;
  transition: 200ms;

  &:hover {
    background-color: $secondary-dark;
  }

  &:focus,
  &:active {
    background-color: $secondary-darker;
  }
}

.form-checkbox__input:checked + .form-checkbox__box::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 16px;
  top: calc(50% - 16px / 2);
  left: calc(50% - 24px / 2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.049 16.249' width='23.049' height='16.249'%3E%3Cpath d='M22.801 1.299L21.75.248a.853.853 0 0 0-1.203 0L8.693 12.102 2.502 5.911a.853.853 0 0 0-1.203 0L.248 6.962a.852.852 0 0 0 0 1.202l7.837 7.837a.845.845 0 0 0 .608.246c.22.002.44-.079.608-.246l13.5-13.5a.852.852 0 0 0 0-1.202z'/%3E%3C/svg%3E%0A");
  background-position: 0 0;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: transparent;
}

.form-checkbox__input:checked + .form-checkbox__box:active::before {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .form-checkbox__title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    transform: translate(0, -20px);
    left: 0;
    background-color: $secondary-base;
  }
}

@media (min-width: $tablet-width) {
  .form-checkbox {
    margin-bottom: 25px;
    position: relative;
  }

  .form-checkbox__title {
    width: 280px;
    font-size: 2.1rem;
    line-height: 1.3;
  }

  .form-checkbox__list {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 52px;
    padding-left: 95px;
    padding-right: 35px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 125px;
      height: 2px;
      transform: translateY(-25px);
      top: 0;
      background-color: $secondary-base;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form-checkbox__item {
    width: 260px;
  }

  .form-checkbox__label {
    width: 260px;
    box-sizing: border-box;
    margin-bottom: 55px;
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox {
    margin-bottom: 23px;
  }

  .form-checkbox__list {
    padding-top: 53px;
    padding-left: 0;
    padding-right: 0;

    &::before,
    &::after {
      width: 280px;
    }
  }

  .form-checkbox__item {
    width: 205px;
  }

  .form-checkbox__label {
    width: 205px;
    box-sizing: border-box;
    margin-bottom: 55px;
    padding-left: 80px;
  }
}
