.nav-main {
  width: 100%;
}

.nav-main__logo {
  position: absolute;
  width: 102px;
  height: 83px;
  top: 207px;
  left: calc(50% - 102px / 2);
}

.nav-main__list {
  width: 100%;

  @include reset-list-style;
}

.nav-main__item {
  width: 100%;

  @include reset-list-style;
  text-align: center;
  background-color: $accent-base;
}

.nav-main__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 700;
  color: $primary-light;
  text-decoration: none;
  background-color: inherit;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.nav-main__header {
  position: relative;

  width: 280px;
  height: 55px;
  margin: 0 auto;

}
.nav-main__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .nav-main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .nav-main__logo {
    top: 0;
  }

  .nav-main__list {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    /*временно*/
    outline: 2px solid blue;
  }

  .nav-main__item {
    width: 20%;
    background-color: inherit;
    /*временно*/
    outline: 2px solid red;

    &:nth-child(2) {
      margin-right: 20%;
    }
  }

  .nav-main__link {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 700;
    color: $text-front;
    background-color: inherit;
    box-shadow: none;
    transition: 500ms;

    &[href]:hover,
    &[href]:focus {
      color: $accent-darker;
      background-color: transparent;
    }

    &[href]:active {
      color: rgba( $text-front, .3 );
    }

    &:not([href]) {
      color: $primary-active;
      font-weight: 700;
    }

    &:hover:not([href]) {
      color: $primary-active-dark;
    }

    &:active:not([href]) {
      color: rgba( $primary-active-dark, .3 );
    }
  }

  .nav-main__header {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav-main__list {
    width:  $desktop-width;
  }
}
